<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/pages/dashboard">Wunder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/pages/dashboard"
                        routerLinkActive="router-link-active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/accounts/registration"
                        routerLinkActive="router-link-active">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="card mt-5 p-0">
            <div class="card-header bg-primary text-white">
                <span class="bi bi-cash"></span> Payment Information
            </div>
            <div class="card-body" *ngIf="paymentData">
                <h5 class="card-title">Your Payment Data ID</h5>
                <p class="card-text">{{ paymentData.payment_data_id }}</p>
            </div>
            <div class="card-body" *ngIf="!paymentData">
                <h5 class="card-title">No payment data submitted yet!</h5>
                <button class="btn btn-primary text-white" routerLink='/accounts/registration'>Register here</button>
            </div>
        </div>


    </div>
</div>